################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TorrentFileRenamer.WPF/obj
/TorrentFileRenamer.WPF/bin/Debug/net8.0-windows
/TorrentFileRenamer.Core/obj
/TorrentFileRenamer.Core/bin/Debug/net8.0
